{% extends "layout.html" %}
{% set active_page = "storage" %}
{% block content %}
        <div class="container text-light py-5">
            <div>
                <h4>Tentang Aurum Collection Centre (ACC)</h4>
                <div class="d-flex align-items-center">
                    <div class="">
                        <img height="300px" class="rounded" src="../static/foto.jpg" alt="" />
                    </div>
                    <div class="px-5 py-3">
                        <p>
                            &emsp;&emsp;&emsp;Aurum Collection Centre (ACC) merupakan toko perhiasan emas retail milik PT. Hartadinata Abadi, Tbk. Outlet pertama ACC berdiri pada tahun 1998 di Jalan Cibaduyut, Bandung Jawa Barat. Saat krisis tahun 1998 berbeda dengan perusahaan pesaing yang membatasi produksi perhiasan, Ferriyady yang kini menjadi komisaris utama PT. Hartadinata Abadi, Tbk. melihat ini sebagai peluang. Pada saat itu Ferriyady mengambil keputusan untuk memperbesar produksi handmade jewellery.
                        </p>
                        <p>
                            &emsp;&emsp;&emsp;Sejak tahun 2017, ACC menjalin kerjasama dengan salah satu retail terbesar di Indonesia yaitu Matahari Departement Store. Hingga saat ini ACC telah berkembang hingga memiliki lebih dari 50 toko retail tersebar di seluruh Indonesia. Selain memiliki toko retail, kini ACC hadir di platform e-commerce melalui Shopee Mall untuk selalu memberikan pelayanan serta produk terbaik bagi seluruh masyarakat Indonesia. ACC saat ini fokus dalam transaksi jual beli perhiasan emas dan logam mulia. Dengan mengedepankan inovasi, kualitas, serta kepercayaan, diharapkan ACC bisa menjadi pilihan bagi masyarakat Indonesia
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
{% endblock %}