{% extends "layout.html" %}
{% set active_page = "home" %}
{% block content %}
<!-- Start menu -->
            <div class="row justify-content-center">
                <div class="container py-5 h-100 w-50">        
                    <div class="container text-light py-5">
                                <div class="row g-3">
                                    <div class="col-md-4">
                                        <div class="bg-card rounded p-5">
                                            <div class="d-flex flex-column">
                                                <i class="pb-3 fa-solid fa-bars-staggered"></i>
                                                <span>Laporan Penjualan Harian</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="bg-card rounded p-5">
                                            <div class="d-flex flex-column">
                                                <i class="pb-3 fa-solid fa-bars-staggered"></i>
                                                <span>Pendapatan Penjualan Harian</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="bg-card rounded p-5">
                                            <div class="d-flex flex-column">
                                                <i class="pb-3 fa-solid fa-bars-staggered"></i>
                                                <span>Summary<br>Stock</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="bg-card rounded p-5">
                                            <div class="d-flex flex-column">
                                                <i class="pb-3 fa-solid fa-bars-staggered"></i>
                                                <span>Stock<br>Habis</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="bg-card rounded p-5">
                                            <div class="d-flex flex-column">
                                                <i class="pb-3 fa-solid fa-bars-staggered"></i>
                                                <span>Laporan Mingguan</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="bg-card rounded p-5">
                                            <div class="d-flex flex-column">
                                                <i class="pb-3 fa-solid fa-bars-staggered"></i>
                                                <span>Live Store Condition</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
{% endblock %}