{% extends "layout.html" %}
{% set active_page = "home" %}
{% block content %}
<!-- Start menu -->
            <div class="row justify-content-center">
                <div class="container py-5 h-100 w-50">        
                    <div class="container text-light py-5">
                                <div class="row g-3">
                                    <div class="col-md-4">
                                        <a href="/report" class="notext">
                                        <div class="bg-card rounded p-5">
                                            <div class="d-flex flex-column">
                                                <img src="../static/icon.png" class="image-fluid mb-2" width="15%">
                                                <span>Laporan<br>Penjualan Harian</span>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/pph" class="notext">
                                        <div class="bg-card rounded p-5">
                                            <div class="d-flex flex-column">
                                                <img src="../static/icon.png" class="image-fluid mb-2" width="15%">
                                                <span>Pendapatan<br>Penjualan Harian</span>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/summary" class="notext">
                                        <div class="bg-card rounded p-5">
                                            <div class="d-flex flex-column">
                                                <img src="../static/icon.png" class="image-fluid mb-2" width="15%">
                                                <span>Summary<br>Stock</span>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/undercon" class="notext">
                                        <div class="bg-card rounded p-5">
                                            <div class="d-flex flex-column">
                                                <img src="../static/icon.png" class="image-fluid mb-2" width="15%">
                                                <span>Stock<br>Habis</span>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/undercon" class="notext">
                                        <div class="bg-card rounded p-5">
                                            <div class="d-flex flex-column">
                                                <img src="../static/icon.png" class="image-fluid mb-2" width="15%">
                                                <span>Laporan Mingguan</span>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/undercon" class="notext">
                                        <div class="bg-card rounded p-5">
                                            <div class="d-flex flex-column">
                                                <img src="../static/icon.png" class="image-fluid mb-2" width="15%">
                                                <span>Live Store Condition</span>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
{% endblock %}