{% extends "layout.html" %}
{% set active_page = "storage" %}
{% block content %}
<!-- Start menu -->
        <div class="container text-light py-5">
            <div class="row g-3">
                <div class="col-md-3">
                    <div class="bg-card rounded p-5">
                        <div class="d-flex flex-column">
                            <i class="pb-3 fa-solid fa-bars-staggered"></i>
                            <span>Test Column</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="bg-card rounded p-5">
                        <div class="d-flex flex-column">
                            <i class="pb-3 fa-solid fa-bars-staggered"></i>
                            <span>Test Column</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="bg-card rounded p-5">
                        <div class="d-flex flex-column">
                            <i class="pb-3 fa-solid fa-bars-staggered"></i>
                            <span>Test Column</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="bg-card rounded p-5">
                        <div class="d-flex flex-column">
                            <i class="pb-3 fa-solid fa-bars-staggered"></i>
                            <span>Test Column</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="bg-card rounded p-5">
                        <div class="d-flex flex-column">
                            <i class="pb-3 fa-solid fa-bars-staggered"></i>
                            <span>Test Column</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="bg-card rounded p-5">
                        <div class="d-flex flex-column">
                            <i class="pb-3 fa-solid fa-bars-staggered"></i>
                            <span>Test Column</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="bg-card rounded p-5">
                        <div class="d-flex flex-column">
                            <i class="pb-3 fa-solid fa-bars-staggered"></i>
                            <span>Test Column</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="bg-card rounded p-5">
                        <div class="d-flex flex-column">
                            <i class="pb-3 fa-solid fa-bars-staggered"></i>
                            <span>Test Column</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}